.Login-SignUp-Header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 32px;

    img {
        width: 60px;
        height: 60px;
    }

    h1 {
        font-weight: 600;
        margin: 0;
        font-size: 20px;
    }
}

@media (max-width: 500px) {
    .Login-SignUp-Header {
        padding: 16px;

        img {
            width: 52px;
            height: 52px;
        }

        h1 {
            font-weight: 600;
            font-size: 25px;
            margin: 0;
        }
    }
}